services:
  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: demoservice
      POSTGRES_PASSWORD: demoservice_pass
      POSTGRES_DB: demoservice_db
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U demoservice -d demoservice_db" ]
      interval: 2s
      timeout: 2s
      retries: 10

  migrate:
    image: migrate/migrate
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./migrations:/migrations
    command:
      [
        "-path=/migrations",
        "-database=postgres://demoservice:demoservice_pass@db:5432/demoservice_db?sslmode=disable",
        "up"
      ]


  redpanda:
    image: redpandadata/redpanda:latest
    command:
      - redpanda start
      - --overprovisioned
      - --smp 1
      - --memory 1G
      - --reserve-memory 0M
      - --node-id 0
      - --check=false
      - --kafka-addr internal://0.0.0.0:9092,external://0.0.0.0:19092
      - --advertise-kafka-addr internal://redpanda:9092,external://localhost:19092
    ports:
      - "19092:19092"
      - "9092:9092"

  redpanda-init:
    image: redpandadata/redpanda:latest
    depends_on:
      - redpanda
    entrypoint: ["/bin/sh", "-c"]
    command: >
      "until rpk topic list -X brokers=redpanda:9092 >/dev/null 2>&1; do sleep 1; done;
      rpk topic create orders orders_dlq -p 1 -r 1 -X brokers=redpanda:9092 || true"

  redpanda-console:
    image: redpandadata/console:latest
    depends_on:
      - redpanda
    ports:
      - "8081:8080"
    environment:
      KAFKA_BROKERS: redpanda:9092

  prometheus:
    image: prom/prometheus:v2.52.0
    depends_on:
      - app
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus

  app:
    build: .
    depends_on:
      db:
        condition: service_healthy
      redpanda:
        condition: service_started
    environment:
      DB_DSN: "postgres://demoservice:demoservice_pass@db:5432/demoservice_db?sslmode=disable"
    ports:
      - "8080:8080"
    volumes:
      - ./config.toml:/app/config.toml
      - ./web:/app/web

volumes:
  pg_data:
  prometheus_data:
